
.square {
  border: 3px solid gray;
  background-color: #fff;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  line-height: 3rem;
  float: left;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.status {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}
.move-text {
  margin: 0
}
/* .square {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
} */

/* .board-row:after {
  clear: both;
  content: "";
  display: table;
} */
